/* Quiz */
.quiz {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}

.quiz h1 {
  font-size: 2em;
}

.question{
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 1.4em;
}

.answers {
  margin-bottom: 20px;
}

.answers label{
  display: block;
}

.quiz__group {
  padding: 2% 0;
}

#results {
  float: right;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 1.4em;
}

#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #ffda1c;
  color: #000000;
  border-radius: 3px;
  padding: 2%;
  cursor: pointer;
}

#submit:hover{
  background-color: #CDAD00;
}

#voltar {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #000000;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 2%;
  cursor: pointer;
}

#voltar:hover{
  background-color: #363636;
}

@media screen and (max-width: 480px) {
  .button-quiz {
    padding-bottom: 5%;
  }

  .quiz h1 {
    font-size: 10vw;
    text-align: center;
  }

  .question {
    font-size: 4vw;
  }

  .quiz__group {
    display: flex;
    align-items: center;
  }

  #results {
    padding: 0 2%;
  }

  #submit, #voltar {
    margin: 1%;
  }
}