/* Sobre */
.about__gallery {
  margin: 1%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.about__title {
  text-align: center;
  padding: 2% 0% 0%;
}

.column {
  display: flex;
  flex-wrap: wrap;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .about__title {
    padding: 5% 0 0;
  }

  .column {
    flex: 100%; /*Uma imagem 100%*/
    max-width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about__title {
    padding: 3% 0 0;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about__title {
    text-align: center;
    padding: 3% 0 0;
  }
}