@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F8F8FF;
}

/* Home */

.home__title {
  font-family: 'Baloo Tammudu 2', cursive;
  color: #ffff;
  text-shadow: 0px 0px 5px black;
}

.btn {
  background-color: #ffda1c;
  color: black;
  padding-right: 3%;
  padding-left: 3%;
}

.btn:hover,
.btn:focus {
  background-color: #CDAD00;
}

/* Main */
main {
  width: 100%;
}

.carousel {
    background-color: #000000;
}

/* Products */
.product {
  display: flex;
  flex-direction: column;
  margin: 2%;
  gap: 1rem;
}

.product__list {
  display: flex;
  justify-content: space-between;
}

.product__list__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  padding: 3%;
  box-shadow: 0px 0px 1px #ffda1c;
}

.product__list__item img {
  width: 100%;
}

.product___list__item:hover {
  box-shadow: 0px 0px 11px #ffda1c;
}

.product__list__item h5 {
  font-family: 'Baloo Tammudu 2', cursive;
  color: #000000;
  padding: 5%;
  text-shadow: 0px 0px 1px #ffda1c;
  text-transform: uppercase;
}

span {
  font-weight: bold;
  color: #000000;
}

.button {
  display: flex;
  justify-content: flex-end;
}

/* Sobre */

.galeria {
  display: flex; 
  flex-wrap: wrap; 
  padding: 0 4px; 
}

.titulo-sobre {
  text-align: center;
  padding: 2%;
}
  
.coluna1 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.coluna1 img {
  margin-top: 8px; 
  vertical-align: middle; 
}



/* Medias */

@media screen and (max-width: 480px) {
    .flex {
        flex-wrap: wrap;
    }

    .produto {
        width: 80%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .carousel h3 {
        font-size: 8vw;
    }

    .carousel h4 {
        font-size: 4.5vw;
    }

    .titulo-home {
        font-size: 8vw;
        text-align: center;
        padding-top: 4%;
    }

    .button {
        padding: 5%;
        justify-content: center;
    }

    .header {
        font-size: 12vw;
    }

    .pergunta label {
        display: flex;
    }

    .button-quiz {
        padding-bottom: 5%;
    }

    .quiz h1{
        font-size: 10vw;
        text-align: center;
    }

    .question {
        font-size: 4vw;
    }

    .titulo-sobre {
        text-align: center;
    }

    .coluna1 {
        flex: 100%; /*Uma imagem 100%*/
        max-width: 100%;
      }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .produto {
        width: 43%;
    }

    .carousel h3 {
        font-size: 6vw;
    }

    .carousel h4 {
        font-size: 4.5vw;
    }

    .titulo-sobre {
        text-align: center;
    }

    .coluna1 {
        flex: 50%;
        max-width: 50%;
      }
}
